
/* =========== */
/*   IMPORTS   */
/* =========== */

/* framework */
@import "myFramework.css";
@import "myToogle.css";
@import "myButton.css";
@import "mySlider.css";

/* section */
@import "sectionParameter.css";
@import "sectionLoading.css";


/* ==================== */
/*   GLOBAL VARIABLES   */
/* ==================== */

:root {
    --page-background-color: #f8f9fa;
    --radius-ref: 300px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box; /* To make sure padding doesn't increase the overall width */
}

/* OTHER */

body {
    /* TYPO */
    font-family: 'Inter', Arial, sans-serif;
    color: #212529;

    height: 100%;
    background-color: var(--page-background-color);
}



/* ============= */
/*   MAIN PAGE   */
/* ============= */

.css-page {
    /* position */
    position: relative;
    height: calc(100vh);
    transform-origin: 0 0;
    transform: scale(1);
    overflow-y: hidden;
    /* style */
    background-color: var(--page-background-color);
    /* padding: 10px;
     */
}

.css-page > * {
    border: 1px solid blue
}
.css-top-section > * {
    border: 1px solid rgb(255, 139, 139)
}
.css-middle-section > * {
    border: 1px solid rgb(255, 139, 139)
}
.css-bottom-section > * {
    border: 1px solid rgb(255, 139, 139)
}
.css-footer-section > * {
    border: 1px solid rgb(255, 139, 139)
}



button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}